img{
  width: 100%;
  border: 2px solid #fff;
  display: block;
  max-width: 120px;
  border-radius: 4px;
}
.card{
  position: relative;
  /* display: inline-block; */
}
.card .front-card{
  position: absolute;

}
.front-card{
  transform: rotateY(90deg);
  transition: all linear 0.2s;
}
.flipped .front-card{
  transform: rotateY(0);
  transition-delay: 0.2s;

}
.back-card{
  transition: all linear 0.2s;
  transition-delay:0.2s;
}
.flipped .back-card{
  transform: rotateY(90deg);
  transition-delay: 0s;
}